<div class="admin-header">
  <h1>Acervo de Livros</h1>
  <div class="dashboard-buttons">
    <%= link_to 'Novo Livro', new_book_path, class: 'btn-primary' %>
    <%= link_to 'Gerenciar Categorias', categories_path, class: 'btn-secondary' %>
    <%= link_to 'Gerenciar Usuários', users_path, class: 'btn-secondary' %>
  </div>
</div>

<div class="search-bar">
  <%= form_with(url: books_path, method: :get, local: true) do |form| %>
    <%= form.text_field :query, value: params[:query], placeholder: "Pesquisar por título..." %>
    
    <%= form.collection_select :category, @categories, :id, :name, 
      { include_blank: 'Todas as Categorias', selected: params[:category] },
      { class: 'category-select' } %>

    <%= form.submit "Filtrar" %>
  <% end %>
</div>

<table class="admin-table stylish-table"> <%# Adicionamos a classe 'stylish-table' %>
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Categoria</th>
      <th>Status</th>
      <th>Ação</th> <%# Nova coluna para o botão de empréstimo %>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.category.name %></td>
        <td>
          <%# Tag de status com cor %>
          <span class="status-tag status-<%= book.status.parameterize %>">
            <%= book.status %>
          </span>
        </td>
        <td>
          <%# Botão de Empréstimo %>
          <button class="btn-loan" disabled>Emprestar</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>