<%# app/views/librarians/new.html.erb %>

<h1>Cadastrar Novo Bibliotecário</h1>

<%# Renderiza a partial de erros, se houver algum %>
<%= render 'shared/errors', object: @librarian %>

<%= form_with model: @librarian, url: librarians_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :email, 'E-mail' %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :password, 'Senha' %>
    <%= form.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'Confirmação da Senha' %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Cadastrar' %>
  </div>
<% end %>

<%= link_to 'Já tenho uma conta', login_path %>