<%# app/views/layouts/application.html.erb %>

<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca Municipal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class="main-header">
      <div class="logo">
        <%= link_to 'Biblioteca Municipal', root_path %>
      </div>
      <nav class="main-nav">
        <% if Current.librarian %>
          <%# -- Usuário está LOGADO -- %>
          <span class="user-email">Logado como: <%= Current.librarian.email %></span>
          
          <%# Link para a área de admin, se o usuário for admin %>
          <% if Current.librarian.admin? %>
            <%= link_to 'Admin', new_admin_librarian_path %>
          <% end %>

          <%= button_to 'Sair', logout_path, method: :delete, class: 'nav-button' %>

        <% else %>
          <%# -- Usuário está DESLOGADO -- %>
          <%= link_to 'Entrar', login_path, class: 'nav-button' %>
        <% end %>
      </nav>
    </header>

    <main>
      <%# Exibe as mensagens de notice e alert %>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    
      <%= yield %>
    </main>

  </body>
</html>