<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca Municipal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class="main-header">
      <div class="logo">
        <%# Este link sempre aponta para a página inicial pública %>
        <%= link_to 'Biblioteca Municipal', root_path %>
      </div>
      <%# A navegação aqui é intencionalmente vazia para o público %>
      <nav class="main-nav">
      </nav>
    </header>

    <main>
      <%# Exibe as mensagens de notice e alert %>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    
      <%= yield %>
    </main>

  </body>
</html>